.filtersModal {
  padding: 0;
}

.filtersModalContent {
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--rs-unit-x8));
  max-width: 480px;
  min-height: 480px;
  max-height: calc(90vh - var(--rs-unit-x8));
  max-height: calc(90dvh - var(--rs-unit-x8));
  background: var(--rs-color-background-elevation-base);
  border-radius: var(--rs-radius-large);
  padding: var(--rs-unit-x4);
}
