.quickInfo {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rs-unit-x4);
  padding: var(--rs-unit-x3) 0;
  border-top: 1px solid rgb(from var(--rs-color-foreground-neutral) r g b / 0.1);
  position: relative;
  z-index: 1;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2);
  color: var(--rs-color-foreground-neutral);

  svg {
    color: var(--rs-color-text-primary);
  }
}
