.chartContainer {
  width: 100%;
  height: 300px;
}

.chartLegend {
  display: flex;
  gap: var(--rs-unit-x4);
  margin-top: var(--rs-unit-x3);
}

.legendItem {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2);
}

.legendDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
