.section {
  width: 100%;
  padding: var(--rs-unit-x8) var(--rs-unit-x4);
}

.content {
  background-color: var(--rs-color-background-primary-faded);
  border: 1px solid var(--rs-color-border-primary);
  border-radius: var(--rs-unit-x6);
  padding: var(--rs-unit-x10);
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  max-width: 1232px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3);
}

.title {
  color: var(--rs-color-foreground-neutral);
}

.subtitle {
  color: var(--rs-color-foreground-neutral-faded);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--rs-unit-x6);

  @media (--rs-viewport-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--rs-viewport-l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: var(--rs-color-background-elevation-base);
  border: 1px solid var(--rs-color-border-neutral);
  border-radius: var(--rs-radius-large);
  padding: var(--rs-unit-x4);
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  gap: var(--rs-unit-x2);
}

.icon {
  color: var(--rs-color-text-primary);
  flex-shrink: 0;
  margin-top: var(--rs-unit-x1);
}

.cardTitle {
  color: var(--rs-color-text-primary);
}

.cardDescription {
  color: var(--rs-color-foreground-neutral-faded);
}
