.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--rs-unit-x2) var(--rs-unit-x10);
  border: 2px solid rgb(from var(--rs-color-background-neutral) r g b / 0.4);
  border-radius: var(--rs-radius-medium);
  background: var(--rs-color-background-page);
  cursor: pointer;
  transition: all var(--rs-duration-medium) var(--rs-easing-standard);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--rs-color-foreground-neutral-faded);

  &:hover:not(:disabled) {
    border-color: var(--rs-color-text-primary);
    box-shadow: 0 4px 12px rgba(var(--rs-color-rgb-background-primary), 0.1);
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &.selected {
    font-weight: 700;
    background-color: var(--rs-color-text-primary);
    box-shadow: 0 4px 12px rgba(var(--rs-color-rgb-background-primary), 0.15);
    color: var(--rs-color-background-neutral);
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: var(--rs-color-background-neutral-faded);

    &:hover {
      border-color: rgb(from var(--rs-color-foreground-neutral) r g b / 0.3);
      box-shadow: none;
    }
  }
}
