$mobile: 768px;
$tablet: 1024px;

.metricsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--rs-unit-x4);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}
