.section {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
  background: var(--rs-color-background-elevated);
  border-radius: var(--rs-radius-large);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x3);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--rs-unit-x3);

  @media (max-width: 1279px) {
    grid-template-columns: 1fr;
  }
}
