.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--rs-unit-x6) var(--rs-unit-x4);

  @media (--rs-viewport-m) {
    padding: var(--rs-unit-x8) var(--rs-unit-x6);
  }

  @media (--rs-viewport-l) {
    padding: var(--rs-unit-x10) var(--rs-unit-x8);
  }
}

.content {
  max-width: 600px;
  width: 100%;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-foreground-neutral-faded);
  opacity: 0.6;
}

.description {
  max-width: 480px;
}
