.resultsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--rs-unit-x4);
  flex-wrap: wrap;
}

.sortContainer {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2);
}
