.content {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
}

.layout {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: var(--rs-unit-x6);
    align-items: start;
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  max-width: 1200px;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3);

  &::before {
    position: absolute;
    top: -24px;
    bottom: -24px;
    content: '';
    display: block;
    background-color: var(--rs-color-background-primary-faded);
    z-index: 0;
    left: -16px;
    width: 100vw;
    transform: translateX(0);

    @media screen and (min-width: 1470px) {
      left: 70.89%;
      width: 100vw;
      transform: translateX(-50%);
    }
  }
}
