.page {
  width: 100%;
  padding: var(--rs-unit-x6) var(--rs-unit-x4);

  @media (--rs-viewport-m) {
    padding: var(--rs-unit-x8) var(--rs-unit-x6);
  }

  @media (--rs-viewport-l) {
    padding: var(--rs-unit-x4);
  }
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);

  @media (--rs-viewport-l) {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--rs-unit-x8);
  }
}

.filtersSidebar {
  display: none;
  width: 100%;
  background: var(--rs-color-background-elevation-base);
  border-radius: var(--rs-radius-large);
  padding: var(--rs-unit-x6);
  border: 1px solid var(--rs-color-border-neutral);

  @media (--rs-viewport-l) {
    position: sticky;
    top: 24px;
    bottom: 0;
    display: block;
    width: 360px;
    flex-shrink: 0;
  }

  @media screen and (max-height: 600px) {
    position: relative;
    top: 0;
  }
}
