.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: var(--rs-unit-x3) var(--rs-unit-x6);
  background: var(--rs-color-background-page);
  border-top: 1px solid
    rgb(from var(--rs-color-foreground-neutral) r g b / 0.15);
  box-shadow: 0 -4px 12px rgb(0 0 0 / 0.1);

  @media (max-width: 1279px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--rs-unit-x4);
  }
}
