[data-rs-theme*=' uninorte '],
[data-rs-theme='uninorte'] {
  --rs-color-brand: #bc4c1c;
  --rs-color-on-background-primary: oklch(1 0 0);
  --rs-color-on-brand: oklch(1 0 0);
}

[data-rs-theme*=' uninorte '][data-rs-color-mode='light'],
[data-rs-theme='uninorte'][data-rs-color-mode='light'] {
  --rs-color-background-primary: #bc4c1c;
  --rs-color-background-primary-faded: #f5e4dd;
  --rs-color-border-primary: #8d3915;
  --rs-color-border-primary-faded: #ebc9bb;
  --rs-color-foreground-primary: #cd7955;
  --rs-color-rgb-background-primary: 188, 76, 28;
  --rs-color-rgb-background-primary-faded: 245, 228, 221;
  --rs-color-text-primary: #bc4c1c;
  --rs-color-background-secondary: #d66b3a;
  --rs-color-background-secondary-faded: #f7ebe5;
  --rs-color-border-secondary: #a04f28;
  --rs-color-border-secondary-faded: #eed5c9;
  --rs-color-foreground-secondary: #e08f6a;
  --rs-color-rgb-background-secondary: 214, 107, 58;
  --rs-color-rgb-background-secondary-faded: 247, 235, 229;
  --rs-color-text-secondary: #d66b3a;
}

[data-rs-theme*=' uninorte '][data-rs-color-mode='dark'],
[data-rs-theme='uninorte'][data-rs-color-mode='dark'] {
  --rs-color-background-primary: #a94419;
  --rs-color-background-primary-faded: #260f06;
  --rs-color-border-primary: #d79477;
  --rs-color-border-primary-faded: #4b1e0b;
  --rs-color-foreground-primary: #dea68e;
  --rs-color-rgb-background-primary: 169, 68, 25;
  --rs-color-rgb-background-primary-faded: 38, 15, 6;
  --rs-color-text-primary: #dea68e;
  --rs-color-background-secondary: #c05a2f;
  --rs-color-background-secondary-faded: #2d1509;
  --rs-color-border-secondary: #e0a88b;
  --rs-color-border-secondary-faded: #54321a;
  --rs-color-foreground-secondary: #e8b9a1;
  --rs-color-rgb-background-secondary: 192, 90, 47;
  --rs-color-rgb-background-secondary-faded: 45, 21, 9;
  --rs-color-text-secondary: #e8b9a1;
}
