body {
  background-color: var(--rs-color-background-neutral-faded) !important;
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

ul[role='region'] {
  position: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}
