@use './tokens';

body {
  background-color: rgb(
    from var(--rs-color-background-primary-faded) r g b / 0.3
  );
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

ul[role='region'] {
  position: fixed;
}
