.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--rs-unit-x6);
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: var(--rs-color-foreground-neutral-faded);
  font-size: var(--rs-font-size-body-1);
  text-align: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: var(--rs-color-foreground-critical);
  font-size: var(--rs-font-size-body-1);
  text-align: center;
}
