.item {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x1);
  font-size: 14px;
  line-height: 20px;
  color: var(--rs-color-foreground-neutral);

  &:last-child {
    color: var(--rs-color-text-primary);
    font-weight: 500;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x1);
  color: inherit;
  text-decoration: none;
  transition: color var(--rs-duration-fast) var(--rs-easing-standard);

  &:hover {
    color: var(--rs-color-text-primary);
  }
}
