.summary {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3);
  padding: var(--rs-unit-x4);
  background: rgb(from var(--rs-color-foreground-neutral) r g b / 0.05);
  border-radius: var(--rs-radius-medium);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2);
  padding-bottom: var(--rs-unit-x2);
  border-bottom: 1px solid
    rgb(from var(--rs-color-foreground-neutral) r g b / 0.1);
  color: var(--rs-color-text-primary);
}

.items {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--rs-unit-x2);
}

.priceSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x1);
  padding-top: var(--rs-unit-x3);
  border-top: 1px dashed
    rgb(from var(--rs-color-foreground-neutral) r g b / 0.2);

  strong {
    color: var(--rs-color-text-primary);
    font-size: 14px;
  }
}

.promotionalPrice {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.price {
  color: var(--rs-color-foreground-primary);
}
