.header {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.homeLink {
  color: var(--rs-color-foreground-neutral-faded);
  text-decoration: none;
  &:hover {
    color: var(--rs-color-foreground-primary);
  }
}
