.videoSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  padding-bottom: var(--rs-unit-x12);
}

.title {
  margin-bottom: var(--rs-unit-x4);
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: var(--rs-radius-m);
  background-color: var(--rs-color-neutral-base);
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
