.filtersContent {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  flex: 1;
  min-height: 0;
  overflow: hidden;

  [role='tablist'] {
    > div:last-child {
      background-color: var(--rs-color-background-primary);
    }

    [aria-selected='true'] {
      background-color: var(--rs-color-background-primary);
      color: var(--rs-color-white);
    }
  }
}

.formInputsContainer {
  margin: calc(0px - var(--rs-unit-x6));
  padding: var(--rs-unit-x6);
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4);
  overflow-y: auto;
  transition: height 300ms ease-in-out;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  touch-action: pan-y;
  min-height: 400px;
}

.formInputsUpdatedHeight {
  @media screen and (max-height: 600px) {
    overflow-y: none;
    height: fit-content;
  }
}

.viewPortMedium {
  margin-top: -24px;
  flex: 1;
  height: auto;
  min-height: 0;
}

.filterActionsWrapper {
  flex-shrink: 0;
}
