.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4);
  width: 100%;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  gap: var(--rs-unit-x4);
  justify-content: center;
  width: 100%;
}

.bannerContainer {
  aspect-ratio: 20 / 2;
  border-radius: var(--rs-radius-large);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-white);
  font-weight: var(--rs-font-weight-bold);
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
