.sidebar {
  position: sticky;
  top: 0px;
  gap: var(--rs-unit-x4);
  padding-bottom: var(--rs-unit-x4);
  margin: 0 auto;
  padding-top: var(--rs-unit-x4);
  width: 100%;
  max-width: 540px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x4);
  padding: var(--rs-unit-x5);
  border-radius: var(--rs-radius-large);
  background: var(--rs-color-background-page);
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.08);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rs-unit-x3);
  color: var(--rs-color-background-page);
  background-color: var(--rs-color-text-primary);
  margin: calc(-1 * var(--rs-unit-x5));
  margin-bottom: 0;
  border-radius: var(--rs-radius-large) var(--rs-radius-large) 0 0;
  padding: var(--rs-unit-x2);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.field {
  width: 100%;
}

.submitButton {
  margin-top: var(--rs-unit-x2);
}

.link {
  color: var(--rs-color-foreground-primary);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
