.heading1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: var(--rs-unit-x2);
}

.heading2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: var(--rs-unit-x2);
}

.heading3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: var(--rs-unit-x2);
}

.heading4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: var(--rs-unit-x2);
}

.heading5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: var(--rs-unit-x2);
}

.heading6 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: var(--rs-unit-x2);
}
