.modal {
  padding: 0;
  height: 800px;
  background-color: transparent;
  padding: 0 64px;
  box-shadow: none !important;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.content {
  background-image: transparent;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeButton {
  position: fixed;
  display: block;
  top: 0px;
  z-index: 1000;
  right: 0px;
  width: calc(var(--rs-unit-x1) * 12);
  height: calc(var(--rs-unit-x1) * 12);
  border-radius: 50%;
  background-color: rgba(var(--rs-color-rgb-white), 0.1);
  border: 1px solid rgba(var(--rs-color-rgb-white), 0.2);
  color: var(--rs-color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--rs-duration-fast) var(--rs-easing-standard);
  z-index: var(--rs-z-index-relative);

  &:hover {
    background-color: rgba(var(--rs-color-rgb-white), 0.2);
    border-color: rgba(var(--rs-color-rgb-white), 0.3);
  }
}

.navButtons {
  display: flex;
  position: absolute;
  gap: 24px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(var(--rs-unit-x1) * 12);
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + 128px);
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    bottom: 0;
    top: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
  }
}

.navButton {
  border-radius: 100%;
  background-color: rgba(var(--rs-color-rgb-white), 0);
  border: 0;
  height: calc(var(--rs-unit-x1) * 12);
  width: calc(var(--rs-unit-x1) * 12);
  color: var(--rs-color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--rs-duration-fast) var(--rs-easing-standard);
  z-index: var(--rs-z-index-relative);

  &[data-position='left'] {
    left: -56px;
  }

  &[data-position='right'] {
    right: -56px;
  }

  &:hover {
    background-color: rgba(var(--rs-color-rgb-white), 0.2);
    border-color: rgba(var(--rs-color-rgb-white), 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.image {
  object-fit: contain;
  object-position: center;
}
