.imageContainer {
  width: 100%;
  height: 120px;
  background-color: var(--rs-color-background-neutral-subtle);
  border-radius: var(--rs-radius-medium);
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
