.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 5 / 2;
}

.skeleton {
  width: 100%;
  height: 100%;
  border-radius: var(--rs-radius-large);
}

.desktopSkeleton {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileSkeleton {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
