.activeFiltersSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x3);

  @media (--rs-viewport-l) {
    display: none;
  }
}

.activeFiltersHeader {
  display: flex;
  align-items: center;
  gap: var(--rs-unit-x2);
}

.activeFiltersSidebar {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}
