.card {
  display: flex;
  align-items: center;
  background: var(--rs-color-background-primary-faded);
  border-radius: var(--rs-radius-large);
  box-shadow: var(--rs-shadow-raised);
  padding: var(--rs-unit-x4);
  gap: var(--rs-unit-x4);

  &:hover {
    box-shadow: var(--rs-shadow-overlay);
    transform: translateY(-2px);
  }
}

.qrcode {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rs-radius-medium);
  overflow: hidden;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
  }
}

.qrcodeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rs-unit-x2);
}

.qrcodeLink {
  display: inline-block;
  color: var(--rs-color-foreground-primary);
  font-size: var(--rs-font-size-body-2);
  text-decoration: underline;
  word-break: break-all;

  &:hover {
    color: var(--rs-color-foreground-primary-highlighted);
  }
}

.name {
  font-size: var(--rs-font-size-title-3);
  font-weight: var(--rs-font-weight-medium);
  color: var(--rs-color-foreground-neutral);
  margin-top: var(--rs-unit-x2);
}

.noQrcode {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--rs-color-background-neutral-faded);
  border-radius: var(--rs-unit-radius-medium);
  color: var(--rs-color-foreground-neutral-faded);
  font-size: var(--rs-font-size-body-2);
}
