.chartContainer {
  width: 100%;
  height: 350px;
}

.granularityTabs {
  flex-wrap: wrap;
}

.spendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #373ac3ff;
}

.revenueDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #22c55e;
}
