.skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-top: var(--rs-unit-x6);
}

.breadcrumbSkeleton {
  height: 20px;
  width: 300px;
}

.imageSkeleton {
  height: 120px;
  width: 100%;
  border-radius: var(--rs-radius-medium);
}

.titleSkeleton {
  height: 40px;
  width: 60%;
}

.infoSkeleton {
  height: 68px;
  width: 100%;
}

.modalitySkeleton {
  height: 100px;
  width: 100%;
}

.admissionSkeleton {
  height: 132px;
  width: 100%;
}

.aboutSkeleton {
  height: 328px;
  width: 100%;
}
